<div class="container">
  <mat-card class="card mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>Spain (name)</mat-card-title>
      <mat-card-subtitle>España (nativeName)</mat-card-subtitle>
    </mat-card-header>
<!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>

      <div class="bounds">

        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

          <div fxFlex="35" class="sec" fxFlex.xs="30">

<!--            GEO-->
            <mat-card class="card-content mat-elevation-z4">

              <h3>GEOGRAPHICAL DATA</h3>

                <div class="block-content">
                  <span class="data"><strong>Capital: </strong>Madrid (capital)</span>
                  <span class="data"><strong>Population: </strong>654654654 (population)</span>
                  <span class="data"><strong>Area: </strong>5454545 km2 (area)</span>
                  <span class="data"><strong>Borders: </strong> (borders.each)</span>
                  <ul>
                    <li>AND</li>
                    <li>FRA</li>
                    <li>...</li>
                  </ul>
                  <span class="data"><strong>Region: </strong> Europe (region)</span>
                  <span class="data"><strong>Subregion: </strong> Southern Europe (subregion)</span>

                </div>

            </mat-card>

<!--            INTL-->
            <mat-card class="card-content mat-elevation-z4">

              <h3>INTERNATIONALIZATION</h3>

              <span class="data"><strong>Demonym: </strong>Spanish (demonym)</span>
              <span class="data"><strong>Languages | ISO-639-1/2 codes: </strong></span>
              <ul>
                <li>Español (Spanish) | es/spa (languages.each.nativeName) (languages.each.name) | (languages.each.iso639_1)/(languages.each.iso639_2)</li>
                <li>Español (Spanish) | es/spa</li>
                <li>...</li>
              </ul>
              <span class="data"><strong>Translations: </strong></span>
              <ul>
                <li>DE: Spanien (translations.each.key): (translations.each.value)</li>
                <li>ES: España</li>
                <li>...</li>
              </ul>
              <span class="data"><strong>CIOC (Code International Olympic Committee): </strong>ESP (cioc)</span>
              <span class="data"><strong>ISO-3166-1 code: </strong>724 (numericCode)</span>




            </mat-card>

          </div>





          <div fxFlex="35" class="sec">

<!--            ECON.-->
            <mat-card class="card-content mat-elevation-z4">

            <h3>Economic data</h3>

            <div class="block-content">

              <span class="data"><strong>Currencies: </strong> (currencies.each)</span>

              <table mat-table [dataSource]="dataSource">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Code Column -->
                <ng-container matColumnDef="code">
                  <th mat-header-cell *matHeaderCellDef> Code </th>
                  <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef> Symbol </th>
                  <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <span class="data"><strong>Regional Blocs: </strong> (regionalBlocs.each)</span>
              <ul>
                <li>
                  European Union (EU) - (regionalBlocs.each.name / (regionalBlocs.each.acronym))
                  [AKA: (regionalBlocs.each.otherNames / (regionalBlocs.each.otherAcronyms))]
                </li>
              </ul>
              <span class="data"><strong>GINI Index: </strong> 34 (gini)</span>



            </div>

            </mat-card>

<!--                TECH-->
            <mat-card class="card-content mat-elevation-z4">

            <h3>Technical data</h3>
              <div class="block-content">
                <span class="data"><strong>Top level domains: </strong>.es (topLevelDomain.each)</span>
                <span class="data"><strong>Phone calling codes: </strong>34 (callingCodes.each)</span>
                <span class="data"><strong>Time zones: </strong> (timezones.each)</span>
                <ul>
                  <li>UTC - 15:56</li>
                  <li>UTC+01:00 - 16:56</li>
                  <li>...</li>
                </ul>
                <span class="data"><strong>Time zones: </strong>UTC (timezones.each)</span>

              </div>

            </mat-card>


          </div>

<!--          FLAG-->
          <div fxFlex="30" class="sec" fxFlex.xs="35">

            <mat-card class="card-content flag mat-elevation-z4">

            <img mat-card-image src="https://restcountries.eu/data/esp.svg" alt="Flag of SPAIN">
              <span class="flag-sub">Flag of Spain (name)</span>

            </mat-card>

          </div>

        </div>

<!--        MAPS-->
        <div class="content" fxLayout="row" fxLayout.xs="column" fxFlexFill>

            <div fxFlex="35" class="sec" fxFlex.xs="65">
              <mat-card class="card-content mat-elevation-z4">

              <h3>GEOLOCATION</h3>

              </mat-card>
            </div>

            <div fxFlex="65" class="sec" fxFlex.xs="35">

              <mat-card class="card-content flag mat-elevation-z4">

                <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                        src="https://www.openstreetmap.org/export/embed.html?bbox=-23.57666015625,32.10118973232094,13.117675781250002,47.08508535995386&amp;layer=mapnik">
                </iframe>
                <button mat-button href="https://www.openstreetmap.org/#map=6/40/-4">SEE IN OpenStreetMap</button>
              </mat-card>
            </div>



        </div>

      </div>


    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
