.container {padding: 50px 0}
.card {
  width: 90%;
  margin: 0 auto;
}
.card-content{
  margin: 0 20px 20px;
  &.flag{
    padding: 30px;
  }
}
.mat-card-content{padding:0 16px}
.block-content{padding: 0 10px 25px}
span.data{display:block}
table.mat-table {width: 80%;}
