<mat-form-field class="form-field">
  <mat-label>Search country</mat-label>
  <label>
    <input matInput type="text" [(ngModel)]="searchCountry" (click)="searchCountry=''">
  </label>
  <button mat-button *ngIf="searchCountry" matSuffix mat-icon-button aria-label="Clear" (click)="searchCountry=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<ul>
  <li class="country-element" *ngFor="let country of countryList">

  <!--  TODO: permalink pipe-->
    <a mat-list-item
       [routerLink]="['/', country.name | permalink]"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{exact:true}"
    (click)="onLoadCountry(country.name)">
      {{country.name}}
    </a>



  </li>
</ul>

