<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <mat-icon class="icon-clickable" matRipple [matRippleUnbounded]="true" [matRippleCentered]="true" (click)="snav.toggle()">menu</mat-icon>
    <h1 class="app-name">Country Info</h1>
    <span class="spacer"></span>
    <mat-icon matRipple class="icon-clickable" [matRippleUnbounded]="true" [matRippleCentered]="true">favorite</mat-icon>
    <mat-icon matRipple class="icon-clickable" [matRippleUnbounded]="true" [matRippleCentered]="true">share</mat-icon>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">


      <!--        TODO: Mover a componente propio-->
      <!--Autocomplete: https://material.angular.io/components/autocomplete/overview-->

      <mat-nav-list>

        <app-country-list></app-country-list>

      </mat-nav-list>

<!--      fin TODO-->

    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

<!--      <app-country></app-country>-->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
